/* Estilos generales */
body {
  font-family: system-ui;
  background: rgb(159, 230, 221);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Estilos para h2 */
h2 {
  color: aquamarine;
}
